NODE_ENV=production

# Port number
PORT=80

# URL of the Mongo DB
# MONGODB_URL=mongodb://127.0.0.1:27017/imaginea
MONGODB_URL=mongodb+srv://alexclayton298:TKk9xbd4Nl3lTuNn@imagineo-ai.3oy1z3b.mongodb.net/imagineo-ai?retryWrites=true&w=majority


# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

#Google Client Id
CLIENT_ID=411973116754-0r47rdg5s8fmpn6ldpkis8o89a8uktes.apps.googleusercontent.com
CLIENT_SECRET=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

#Cloudinary Info
CLOUDINARY_CLOUD_NAME='ddy6yixnb'
CLOUDINARY_API_KEY='986515751639677'
CLOUDINARY_API_SECRET='qyS4sds6qUrUqiSeLrTLd2qV5wc'

RUNPOD_SERVERLESS_API_ID = "q3b5guqigxbcsd"
RUNPOD_API_KEY = "DVKG3TUSY64J9CM4U4TQMQLBGXOZI07VCCLOPOPG"

AWS_S3_ACCESS_KEY_ID = "AKIA2OQ7F2AOT4NJR3AG"
AWS_S3_SECRET_ACCESS_KEY = "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"
AWS_S3_BUCKET_NAME = "imagineo"


GCP_BUCKET_NAME="imagineo-ai"

Stable_Diffusion_API = "https://9b89f8ca4fcdb6b23b.gradio.live"